@import "./variables.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;

  background: $primary;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

span,
label,
p {
  color: $color;
}
