$primary: #ff8b0f;
$secondary: #55565a;
$color: #5f5f63;

$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xlg-min: 1200px;
